@import '../../variables.module.scss';

.technologies {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
	z-index: 3;

	@media (max-width: $md) {
		margin-top: 25rem;
	}

	&:before {
		content: ' ';
		display: block;
		width: 30rem;
		height: 23rem;
		position: absolute;
		right: -20%;
		top: -26%;
		background: linear-gradient(
			180deg,
			rgba(0, 65, 218, 0.115) 0%,
			rgba(40, 0, 153, 0.115) 91.72%
		);
		filter: blur(100px);
		border-radius: 2.71815e7px;
	}
	&:after {
		content: ' ';
		display: block;
		width: 45rem;
		rotate: 131deg;
		height: 29rem;
		position: absolute;
		left: -20rem;
		bottom: -15rem;
		background: linear-gradient(
			180deg,
			rgba(0, 65, 218, 0.161) 0%,
			rgba(40, 0, 153, 0.161) 91.72%
		);
		filter: blur(100px);
		border-radius: 27181500px;
	}
}

.heading {
	text-align: center;
	h1 {
		font-size: 2.2rem;
		color: #fff;
		font-weight: 600;
		margin: 1.1rem 0 3rem;
	}

	h3 {
		color: #aaa;
		text-transform: uppercase;
		font-size: 0.8rem;
	}
}

.content {
	display: flex;
	justify-content: space-between;
	gap: 11rem;

	@media (max-width: $md) {
		gap: 3rem;
	}

	@media (max-width: $sm) {
		flex-direction: column;
		gap: 0;
	}
}

.chart {
	@media (max-width: $sm) {
		align-self: center;
	}
	img {
		max-width: 444px;

		@media (max-width: $md) {
			max-width: 400px;
		}
	}
}

.caption {
	display: flex;
	flex-direction: column;

	&__level {
		h4 {
			font-size: 1.7rem;
			font-weight: 600;
			margin-bottom: 1.8rem;
		}

		p {
			margin-left: 2rem;
			padding-bottom: 1.5rem;
			line-height: 1.2rem;
			font-weight: 400;
			position: relative;

			&:before {
				content: url('../../assets/triangle-blue.png');
				position: absolute;
				left: -2.5rem;
				top: 0.9rem;
				width: 10px;
				height: 20px;
				background: no-repeat;
			}

			&:nth-child(3) {
				&:before {
					content: url('../../assets/triangle-pink.png');
				}
			}
		}
	}
}

.btn {
	color: #fff;
	cursor: pointer;
	align-self: flex-start;
	font-family: Mazzard-Medium;
	font-weight: 500;
	font-size: 1rem;
	background: linear-gradient(140.6deg, #3e6ff9 -27.18%, #3e53f8 126.06%);
	box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
	transition: all 0.3s ease-in-out;
	border: none;
	border-radius: 10px;
	padding: 1.1rem 3rem;
	margin-top: 1rem;

	&:hover {
		box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.8);
	}
}
