@import '../../variables.module.scss';

.community {
	display: flex;
	align-items: stretch;
	gap: 1.6rem;
	margin: 10rem 0 8rem;
	position: relative;

	&:after {
		content: ' ';
		position: absolute;
		bottom: -13rem;
		left: 10rem;
		width: 20rem;
		height: 15rem;
		background: linear-gradient(
			0deg,
			rgba(87, 87, 87, 0.23),
			rgba(87, 87, 87, 0.23)
		);
		filter: blur(100px);
		z-index: 1;
	}

	@media (max-width: $lg) {
		flex-direction: column;
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #0a0a0d;
	border-radius: 46px;
	overflow: hidden;
	position: relative;
	padding: 1.83rem;
	z-index: 5;

	&:before {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		width: 5rem;
		height: 5rem;
		background: rgba(85, 85, 85, 0.8);
		filter: blur(97px);
	}

	&:after {
		content: ' ';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 5rem;
		height: 5rem;
		background: rgba(200, 200, 200, 0.5);
		filter: blur(97px);
	}

	h5 {
		text-transform: uppercase;
		font-size: 0.83rem;
		color: #aaa;
		font-weight: 500;
	}

	p {
		margin: 3.38rem 0;
		font-size: 1.66rem;
	}

	a {
		color: #aaa;
		transition: color 0.3s ease-in-out;

		&:hover {
			color: #fff;
		}
	}

	&Wrapper {
		padding: 1rem;
		position: relative;
		background: linear-gradient(343.47deg, #424549 14.39%, #222222 89.15%);
		border-radius: 46px;
		padding: 4px;
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 2.85rem;
	}

	&__top {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	@media (max-width: $ss) {
		h5 {
			font-size: 0.833rem;
		}

		&__top {
			flex-direction: column;
		}
	}
}

.spot {
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	span {
		font-weight: 600;
	}

	p {
		font-size: 2.22rem;
		line-height: 2.6rem;
	}

	div {
		margin-top: 17.67rem;
		z-index: 5;
	}

	@media (max-width: $lg) {
		div {
			margin: 0 0 1rem;
		}

		p {
			margin: 1.2rem 0;
		}

		img {
			bottom: -8rem;
			top: auto;
			right: 0;
			left: auto;
		}
	}

	@media (max-width: $ss) {
		div {
			margin: 0 0 7rem;
		}

		p {
			font-size: 1.77rem;
		}

		img {
			bottom: -4rem;
		}
	}
}

.derivatives {
	p {
		font-size: 1.6rem;
	}
}

.arena {
	p {
		font-size: 1.6rem;
	}
}

.mobileApp {
	p {
		max-width: 14rem;
	}

	img {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}

	@media (max-width: $ss) {
		div {
			margin-bottom: 10rem;
		}

		img {
			top: auto;
			bottom: 0;
			right: -4rem;
		}
	}
}

.highlight {
	color: #fff;
	font-weight: 600;
}
