@import '../../variables.module.scss';

.rd {
	display: flex;
	align-items: center;
	gap: 2.5rem;
	margin-top: 10rem;
	position: relative;
	z-index: 4;

	@media (max-width: $md) {
	}

	&:before {
		content: ' ';
		display: block;
		width: 30rem;
		rotate: 131deg;
		height: 30rem;
		position: absolute;
		right: -5rem;
		top: -10rem;
		background: linear-gradient(180deg, #333 0%, #000 100%);
		filter: blur(150px);
		z-index: 0;
	}
	&:after {
		content: ' ';
		display: block;
		width: 20rem;
		rotate: 131deg;
		height: 20rem;
		position: absolute;
		left: 20rem;
		bottom: -19rem;
		background: #333;
		opacity: 0.5;
		filter: blur(100px);
		z-index: 0;
	}
}

.scheme {
	display: flex;
	align-items: flex-end;
	position: relative;
	z-index: 4;
	gap: 2rem;

	p {
		display: inline-block;
		font-size: 0.8rem;
		padding: 0.6rem 0.7rem;
		line-height: 1.1rem;
		max-width: 10rem;
		width: 100%;
		text-align: center;
		background: #000;
		border: 1px solid #5a5a5a;
		border-radius: 10px;
	}

	article {
		font-size: 0.8rem;
		line-height: 1.1rem;
	}
}
.form {
	&__1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		min-width: 12.2rem;
		padding: 2rem 1.5rem;
		border: 1px solid #5a5a5a;
		background: radial-gradient(
			100% 100% at 0% 0%,
			rgba(48, 48, 48, 0.3) 0%,
			rgba(255, 255, 255, 0.03) 100%
		);
		box-shadow: inset -4px -4px 225px rgba(255, 255, 255, 0.02);
		backdrop-filter: blur(12px);
		border-radius: 25px;
	}

	&__2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		min-width: 9rem;
		margin-bottom: 3rem;
	}

	&__3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: 12.2rem;
		padding: 0.5rem 1.1rem 4rem;
		border: 1px solid #5a5a5a;
		background: radial-gradient(
			100% 100% at 0% 0%,
			rgba(48, 48, 48, 0.3) 0%,
			rgba(255, 255, 255, 0.03) 100%
		);
		box-shadow: inset -4.50695px -4.50695px 225.348px rgba(255, 255, 255, 0.02);
		backdrop-filter: blur(12.6195px);
		border-radius: 25.2389px;

		figure {
			text-align: center;
			margin-bottom: 1.5rem;
		}

		figcaption {
			font-size: 0.8rem;
		}

		p {
			&:nth-child(1) {
				margin-bottom: 1.5rem;
			}
		}
	}
}

.arrows {
	position: relative;

	div {
		position: absolute;
		content: ' ';
		width: 2px;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			#fafafa 102.25%
		);
		height: 4.5rem;
		bottom: -6rem;

		&:nth-child(1) {
			right: 0.7rem;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #aaa 100%);

			&:after {
				content: ' ';
				border: solid #ddd;
				border-width: 0 1px 1px 0;
				display: inline-block;
				position: absolute;
				bottom: -5px;
				left: -1.6px;
				padding: 3px;
				rotate: 45deg;
			}
		}

		&:nth-child(2) {
			left: 0.7rem;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #aaa 100%);

			&:after {
				content: ' ';
				border: solid #ddd;
				border-width: 0 1px 1px 0;
				display: inline-block;
				position: absolute;
				top: -5px;
				left: -2.4px;
				padding: 3px;
				rotate: -135deg;
			}
		}
	}
}

.caption {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	position: relative;

	h2 {
		font-size: 2.2rem;
		font-weight: 600;
	}

	p {
		line-height: 1.5rem;
		max-width: 19rem;
	}

	a {
		color: #7b93ff;
		font-size: 0.85rem;
	}
}
