@import '../../variables.module.scss';

.navbar {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	gap: 32%;
	width: 100%;
	padding: 1rem 0;
	color: #fff;
	z-index: 20;

	@media (max-width: $md) {
		padding: 1rem 2rem;
		gap: 0;
		justify-content: space-between;
	}

	@media (max-width: $xxs) {
		padding: 1rem;
	}

	@media (min-width: 1800px) {
		gap: 30%;
	}

	@media (min-width: 2000px) {
		gap: 25%;
	}

	@media (min-width: 2000px) {
		gap: 20%;
	}

	@media (min-width: 3500px) {
		gap: 13%;
	}
}

.sticked {
	background: rgba(10, 10, 13, 0.9);
	opacity: 1;
}

.logo {
	font-family: Mazzard-Medium;
	font-size: 1.4rem;
	transition: all 0.3s ease-in-out;
	padding: 0.3rem;
	border-radius: 10px;
	position: relative;

	&:after {
		content: '';
		background: #ecf0f1;
		position: absolute;
		z-index: -1;
		display: block;
		border-radius: 10px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: all 0.3s ease;
		scale: 0 0;
	}

	&:hover {
		color: #000;
		&::after {
			scale: 1 1;
			transition: all 0.3s ease-out;
		}
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2.5rem;

	li {
		a {
			display: inline-block;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: #fff;
				transform-origin: bottom right;
				transition: transform 0.25s ease-out;
			}

			&:hover:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}

	@media (max-width: $sm) {
		display: none;

		& {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			right: -200%;
			gap: 0;
			transition: all 0.5s ease-in-out;
			z-index: 10;

			&_active {
				right: 0;
				background: #040116;
			}

			li {
				margin: 1rem 0;

				&:nth-child(5) {
					order: -1;
				}
			}
		}
	}
}

.hamburger {
	display: none;
	cursor: pointer;
	z-index: 10;

	.bar {
		display: block;
		width: 32px;
		height: 2px;
		margin: 5px auto;
		transition: all 0.5s ease-in-out;
		background: #fff;
		text-align: center;
	}

	&_active {
		.bar:nth-child(1) {
			transform: translateY(4px) rotate(45deg);
		}

		.bar:nth-child(2) {
			transform: translateY(-4px) rotate(-45deg);
		}
	}

	@media (max-width: $sm) {
		display: block;
	}
}

.career {
	font-family: Mazzard-SemiBold;
	color: #000;
	background: #fff;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	gap: 0.7rem;
	padding: 1rem 2rem;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.5);
	transition: 0.3s all ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 0px 59px rgba(42, 7, 254, 1);

		img {
			animation: bounce 0.3s alternate ease-in-out infinite;
		}
	}
}

@keyframes bounce {
	from {
		transform: translateX(0) translateY(0);
	}
	to {
		transform: translateX(3px) translateY(-3px);
	}
}
