@import './variables.module.scss';

.wrapper {
	width: 100%;
	overflow: hidden;
	background: #000;
	position: relative;
}

.container {
	max-width: 1440px;
	padding: 0 135px;
	margin: 0 auto;

	.banner {
		position: absolute;
		top: 0;

		@media (max-width: $xxs) {
			left: -110%;
		}
	}

	@media (max-width: $md) {
		padding: 0 2rem;
	}

	@media (max-width: $ss) {
		padding: 0 1.5rem;
	}
}

.circles {
	position: absolute;
	top: 42rem;
	right: 0;
	z-index: 1;
	max-width: 70rem;

	@media (max-width: $md) {
		right: -35rem;
	}
}
