@import './variables.module.scss';

.wrapper {
	width: 100%;
	overflow: hidden;
	background: #000;
	min-height: 2500px;
	position: relative;
}

.container {
	max-width: 1440px;
	padding: 0 135px;
	margin: 0 auto;

	.banner {
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
	}

	@media (max-width: $md) {
		padding: 0 2rem;
	}
}

.circles {
	position: absolute;
	top: 25%;
	right: 0;
	z-index: 1;
}
