@font-face {
	font-family: Mazzard-Regular;
	src: url('./fonts/MazzardM-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: Mazzard-Medium;
	src: url('./fonts/MazzardM-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: Mazzard-SemiBold;
	src: url('./fonts/MazzardM-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: Mazzard-Bold;
	src: url('./fonts/MazzardM-Bold.ttf');
	font-weight: 700;
}

:root {
	font-family: Mazzard-Regular, sans-serif;
	font-size: 18px;
}

* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

.text-gradient {
	background: linear-gradient(90deg, #487fff 0%, #73b5ff 50%, #cb76ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
